.background-container {
    background-image: url('../../images/alif-ngoylung-jg-6ARMiaPM-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}